body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: rgba(219, 180, 255, 0.224);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  width: 90px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgba(167, 87, 242, 0.317);
}

button:hover,
button:focus {
  background-color: rgba(167, 87, 242, 0.594);
}
